<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>МЛП</title>
<link rel="stylesheet" th:href="@{/css/topmenu.css}" />

<!-- link rel="stylesheet" th:href="@{/css/daterangepicker.min.css}"-->
<link rel="stylesheet" th:href="@{/jquery/jquery-ui.min.css}">
<th:block th:include="/_head"></th:block>
<script th:inline="javascript">var path = "[(@{/})]";</script>
<script type="text/javascript" th:src="@{/jquery/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/device.js}"></script>
<script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
<script type="text/javascript" th:src="@{/jquery/ui/i18n/datepicker-ru.js}"></script>


    <!-- link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"-->
    <style type="text/css">
        input {width: 200px; text-align: left}
    </style> 

    <script type="text/javascript">



    </script> 

</head>
<body class="page">
	<div id="wrap">
		<!-- Include _menu.html -->
		<th:block th:include="/_menu"></th:block>
<div class="page-headline">Страница МЛП устройств</div>
		<div id="main">


    

		<h3>
			Welcome : <span th:utext="${#request.userPrincipal.name}"></span>
		</h3>
		
		<h3>
			Устройства в базе
		</h3>
		<table border="1">
			<tr>
				<th>Адрес</th>
				<th>Тип</th>
				<th>Серийный номер</th>
				<th>Комментарий</th>
				<th> </th>
			</tr>
			<tr th:each="deviceInfo : ${deviceInfos}" th:id="${deviceInfo.devId}">
				<td th:utext="${deviceInfo.address}">..</td>
				<td th:utext="${deviceInfo.type}">..</td>
				<td th:utext="${deviceInfo.serial}">..</td>
				<td th:utext="${deviceInfo.comment}">..</td>
				<td>
					<img th:if="${admin != null}" th:src="@{/images/deletefromdb.png}" th:onclick="'DeleteDevice(' + ${deviceInfo.devId} + ');'" title='Удалить из БД'>
					<button th:onclick="'getMLPData(' + ${deviceInfo.devId} + ');'">Данные</button>
				</td>
			</tr>
		</table>
		
		<h3>
			Архив данных
		</h3>
		Диапазон дат:
		<form>
			<div class="ui-widget">
				<label for="dateFrom">От </label><input id="dateFrom" value=""/>
				<label for="dateTo"> до </label><input id="dateTo"/>
			</div>
		</form>

		<table border="1">
			<tr>
				<th>Дата/время</th>
				<th>А</th>
				<th>X</th>
				<th>Y</th>
				<th>Z</th>
				<th>Температура</th>
				
				<th th:if="${admin != null}"> </th>
			</tr>
			<tbody class="mlpdata"></tbody>
		</table>
		<!-- Image loader -->
		<div id='loader' style='display: none;'>
			<img th:src="@{/images/animationProcessing.gif}">
		</div>
		<!-- Image loader -->

		<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
		<div th:if="${admin != null}">
			<a href="#">Администрирование</a>
		</div>
</div>
		<th:block th:include="/_footer"></th:block>
	</div>
	<!--end wrap-->
</body>

</html>