<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Info</title>
<link rel="stylesheet" th:href="@{/css/topmenu.css}" />
<th:block th:include="/_head"></th:block>
</head>
<body class="page">
	<div id="wrap">
		<!-- Include _menu.html -->
		<th:block th:include="/_menu"></th:block>
<div class="page-headline">Страница СКЦТ устройств</div>
		<div id="main">

		<h3>
			Welcome : <span th:utext="${#request.userPrincipal.name}"></span>
		</h3>
		<b>This is protected page!</b> <br /> <br />

		<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
		<div th:if="${admin != null}">
			<a href="#">Администрирование</a>
		</div>
</div>
		<th:block th:include="/_footer"></th:block>
	</div>
	<!--end wrap-->
</body>

</html>